.container {
  display: grid;
  gap: 15px;
  width: 400px;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(22, 198, 104, 0.649);
  margin-inline: auto;
}

button {
  cursor: pointer;
  display: flex;
  margin-inline: auto;
}

input {
  text-align: center;
  outline: 0;
}

.slot {
  display: flex;
  gap: 26px;
}

.slot_flats {
  display: grid;
  gap: 15px;
}

.label-slot {
  display: flex;
  justify-content: space-between;
  input {
    margin-left: 5px;
  }
}

.title {
  text-align: center;
}

#formContainer {
  max-width: 300px;
}

.slot {
  display: grid;
  justify-content: center;
  border: 1px solid;
  max-width: 200px;
  padding: 5px;
  margin-inline: auto;
}

#divisionResult {
  border: 1px solid;
  text-align: center;
}

.live {
  display: grid;
  justify-content: center;
  margin-top: 30px;
  border: 1px solid;
  padding: 6px;
  max-width: 200px;
  gap: 10px;
}

.love-slot {
  border: 1px solid;
  max-width: 200px;
}

.result {
  text-align: center;
  background: rgb(0, 0, 0);
  color: white;
}
