.slot {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 180px;
  border: 2px solid red;
  padding: 5px;
  margin-inline: auto;
  background: teal;
  margin-top: 100px;
}

input {
  width: 35px;
  border: 0;
  outline: 0;

  border: 1px solid;
  padding: 4px;
  text-align: center;
}

label {
  width: 55px;
}

.inp-case {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  border: 1px solid wheat;
  background: grey;
  color: white;
  border-radius: 5px;
  padding: 2px;
}

h3 {
  font-size: 15px;
  text-align: center;
  padding: 0;
  margin: 0;
}
