.slot {
  display: grid;
  justify-content: center;
}
label {
  display: block;
}

input[type="submit"],
label {
  margin-top: 1rem;
}

.slot {
  width: 300px;
  margin: auto;
  margin-top: 100px;
}

.success {
  color: green;
  text-align: center;
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

#pass {
  outline: 0;
  border: 0;
}

.pass-slot {
  width: 200px;
  background: white;
  display: flex;
  align-items: center;
  border: 1px solid;
  justify-content: space-between;
}

#username {
  width: 195px;
  border: 1px solid;
  outline: 0;
}
