tr,
td {
  border: 1px solid rgb(158, 158, 158);
  border-collapse: collapse;
}
tr {
  height: 10px;
}

td {
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 10px;
  font-size: 11px;
}

#table {
  display: grid;
  justify-content: center;
}
