.textarea {
  min-height: 50px;
  max-height: 100px;
  min-width: 250px;
  max-width: 250px;
  outline: 0;
  border: 0;
}
input {
  outline: 0;
  border: 0;
}

.container {
  display: grid;
  justify-content: center;
  border: 1px solid;
  max-width: 280px;
  padding: 10px;
  margin-inline: auto;
  background: grey;
}

.slot {
  display: grid;
}

.main {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.btn {
  outline: 0;
  border: 0;
  margin-top: 20px;
  border-radius: 2px;
  background: teal;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: rgb(3, 104, 104);
}

.divContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 1000px;
  justify-content: space-between;
}

#nextMessageId {
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.knopka {
  padding: 3px 15px;
  outline: 0;
  border: 0;
  background: green;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.knopka:hover {
  background: rgb(0, 155, 0);
}

.knopka:disabled {
  background: red;
}
